/* Body */
body {
  margin: 0;
  color: #D5F2EA;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code */ 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*main colors */
  --primary-color: #031d1f;
  --secondary-color: #1d52ad;
  --tertiary-color: #0c767a;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/* Main Landing Page */
.hero {
  background-image: url("../src/assets/");
  /* Add background image */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: beige;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #0c767a;
  text-shadow: 0 0 10px grey;
}

.hero-cta p {
  font-size: 25px;
  color: #0c767a;
}


/* Margins */
* {
  margin: 555;
  padding: 555;
  box-sizing: border-box;
}

/* Header */
header {
  padding: 20px 35px;
  background-color: beige;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../src/assets/cover/");
  /* Add background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;

}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: navy;
  text-shadow: 0 0 10px grey;
}



header a {
  text-decoration: none;
  color: navy;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;

}

/* Button Style in header*/
header nav ul li a {
  padding: 10px 15px;
  font-weight: normal;
  font-size: 1.60vw;
  text-shadow: 0 0 10px grey;
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

header nav ul li a:hover {
  background: #0c767a;
  color: beige;
  border-radius: 15px;
  text-shadow: none;
}

/* Intro text */

.intro p {
  line-height: 1.7;
  color: #0c767a;
  width: 80%;
  font-size: 20px;
  margin: 0 auto;
}

.intro-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.intro-img {
  flex: 1 12%;
  margin-right: 20px;
}

.intro-img img {
  max-width: 100%;
  height: auto;
  margin-left: 5px;
}

.intro-text {
  flex: 12;
}

.intro-text p {
  color: #0c767a;
  font-size: 20px;
}

/* Contact me query form*/
#contact-form{
  background: beige;
}

#contact-form h2 {
  color: #0c767a;
}

.contact h2 {
  color: beige;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-form {
  padding-right: 10%;
}

.contact-form button:hover {
  color: beige;
  background: #0c767a;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #0f3143;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #0c767a;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: beige;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: rgba(255, 255, 255, 1);
  outline: none;
}

.contact-form button {
  width: 100%;
  border: none;
  background: beige;
  color: #0c767a;
  text-align: center;
  padding: 15px 0;
  font-size: 25px;
  border-radius: 10px;
}

.contact-info>* {
  flex: 1;
  margin: 15px;
}

.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;

}

.contact-info h3 {
  color: #0c767a;
  font-size: 32px;
}

.contact-info p,
.contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 25px;
  font-style: normal;
}

#contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.contact-info a {
  color: #0c767a;
  display: inline;
}

.contact-info a:hover {
  color: grey;
  transition: .5s ease;
}


/* Footer */
footer {
  background: whitesmoke;
  font-weight: bold;
  width: 100%;
  height: 100px;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h2 {
  color: blue;
  font-size: 15px;
  margin: 0;
}

footer p {
  color: rgb(129, 129, 235);
  font-size: 15px;
  margin: 0;
  text-align: center;
}

footer div {
  line-height: 1.5;
}

footer a {
  color: rgb(129, 129, 235);
}

footer a:hover {
  color: rgb(129, 129, 235);
  transition: .5s ease;
}

.logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: black;
  display: inline-block;
}

.logo:hover {
  color:navy;
  opacity: 0.5;
  transition: .5s ease;
}



/* Resume */

.download-intro p {
  line-height: 1.7;
  color: #0E5259;
  width: 95%;
  font-size: 30px;
  margin: 0 auto;
  justify-content: center;
}

.resume-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10%;
  margin-top: 5%;
}

.resume-body>* {
  flex: 1;
  margin: 150px;
}

.column1,
.column2,
.column3 {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 30px 0 0 60px;
}

.column3 {
  margin-right: 0%;
}



.article {
  margin: 10px;
  margin-bottom: 1em;
  background-color: #B4D9CB;
}


.resume-body img {

  height: auto;
}

.download-text {
  height: auto;
  /* margin-left: 20%; */
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.download-logo {
  cursor: pointer;
  list-style: none;
  font-size: 40px;
  color: #0E5259;
  display: inline-block;
}

.download-logo:hover {
  color: #0E5259;
  opacity: 0.5;
  transition: .5s ease;
}



.download-info {
  flex: 3 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.column-title {
  color: #0E5259;
  font-size: 25px;
  font-weight: bold;
}

.column-text {
  color: #0E5259;
  font-size: 20px;
  padding: 5px;


}

.column-text ul li {
  list-style: none;
}


